<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title OpenHCI 2018 | 實物鏈
	link(rel="stylesheet", href="assets/styles/main.css")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(name="title" content="")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(property="og:title" content="")
	meta(property="og:type" content="website")
	meta(property="og:url" content="")
	meta(property="og:image" content="")
	meta(property="og:description" content="")
	meta(property="og:site_name" content="")
body
	header
		a.logo(href="#landing")
			img(src="assets/images/nav-logo.svg", alt="")
		//- .menu-cir .menu-fade-in .menu-slidein
		.menu.menu-cir
			.menu-bg
			.menu-container
				.in-site
					a.menu-btn#menu1(href="#intro") 介紹
					a.menu-btn#menu2(href="#program") 活動
					a.menu-btn#menu3(href="#registration") 報名方式
					a.menu-btn#menu4(href="#taichi") TAICHI合作
					a.menu-btn#menu5(href="#crew") 籌備團隊
					a.menu-btn#menu6(href="#organizer") 主辦單位
					a.menu-btn#menu7(href="#contact") 聯絡我們
					a.menu-btn#sign-up(href="") 我要報名
		.m-menu-opener
			span
			span
			span
	.loading

	.page-wrapper
		section#landing
			.section-wrapper
				.screen
					canvas#light
					canvas#mask
				.titles
					img.title1(src="assets/images/title1.svg", alt="")
					img.title2(src="assets/images/title2.svg", alt="")
					img.title3(src="assets/images/title3.svg", alt="")
					img.title-logo(src="assets/images/logo.svg", alt="")
		section#intro
			.section-wrapper
				.section-title 介紹
		section#interlude
			.section-wrapper
				.moving
					img(src="assets/images/animism-en@3x.png", alt="")
					img(src="assets/images/animism-en@3x.png", alt="")
		section#program
			.section-wrapper
				.section-title 活動
		section#registration
			.section-wrapper
				.accordion
					.step-container#step1
						.step-header
							.step-title
								span.no 01.
								span 活動資訊說明
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p 【 日期時間 】 
								p 2017 年 6 月 27 日 (二) 至 2017 年 7 月 2 日 (日) ，共 6 天。
								p 每日活動開始時間皆為 09:00，結束時間為 18:00 – 18:30 不等。
								.br
								p 【 活動地點 】 
								p 國立台灣大學水源校區 D-School（台北市中正區思源街18號、永福橋旁）
					.step-container#step2
						.step-header
							.step-title
								span.no 02.
								span 報名資訊與時程
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p 【 報名學員資格 】 
								p 全國各大專院校在學學生，包含大學部三年級以上與碩/博生。
								.br
								p 【 招生時程 】
								p 線上報名時間：5/31(三) 00:00 至 6/11(日) 23:59 前
								p 正取名單公佈：6/15(四) 10:00網路公佈與信件通知，請自行上網查看
								p 遞補備取通知：6/17(六) 個別電話通知
								.br
								p 【 報名方式 】
								p 在報名期限內，備妥報名相關資料後，經報名連結線上報名。
								p 公佈與通知正/備取之學員，請於指定時間內繳交1000元保證金以及100元保險費用，
								p 並回覆系統匯款資訊以確認成功匯款，經由查證後完成報名程序。
								p 未依照指定報名期限內完成報名程序者，視為放棄報名資格，會依據備取順序遞補。
								p 正取學員請於6/17(六) 17:00 前繳交保證金及保險費用以完成報名程序。
								p 備取名單會於6/17(六) 後個別電話通知，經電話通知錄取的備取學員請於6/19(一) 17:00 前繳交保證金及保險費用以完成報名程序。
								.br
								p （本活動透過報名資料作為錄取參考依據，挑選正/備取學員並於網站公佈與通知，與報名順序時間無關。）
					.step-container#step3
						.step-header
							.step-title
								span.no 03.
								span 繳交資料｜線上報名表單說明
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p 進入線上報名系統前需準備兩份報名資料，包含「線上問卷」與「IDCard」兩部分：
								.br
								p 1.「線上問卷」為線上填寫作業，包含個人基本資料、教育背景兩部分。
								p 2.「IDCard」為一份三頁之投影片，包含 “個人簡歷” 與“觀察發想”。
								.br
								p PS.檔案請自行製作與編排，並存檔輸出PDF檔可於"觀察發想"內容中附加輔助說明之素材(手繪、電繪圖片、照片或另附影片，格式不限)
								p PDF檔名標題請依格式填寫： [2017 IDCard] 校系_姓名 (範例：[2017 iDCard] 台科大工商業設計系_王曉明)
								p 若有其他輔助說明之素材，請將檔案放至上傳空間(ex. dropbox)後將上傳連結附於報名系統內。
								p 若檔名或檔案格式不符，造成漏檔，報名者請自行負責。
					.step-container#step4
						.step-header
							.step-title
								span.no 04.
								span 繳交資料｜ID Card 說明與範例
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p IDCard為線上報名之第二份需預先準備之作業檔案，並於線上報名時上傳。
								p 第一頁請放個人簡歷，表達格式不限。
								p 第二頁請放上個人最滿意的作品(研究、專題、設計皆可)，可透過文字、圖片或另附影片表達。
								p 第三頁請從你的經驗中去發想並回答以下兩問題，可透過文字、圖片或另附影片表達，數量、格式均不限。
								.br
								p 1. 請從自己與互動物（包括電腦、智慧裝置、圖形化介面、互動設計、互動藝術）認知或相處的經驗中，舉一自己最喜歡或印象深刻的例子，並說明原因。
								.br
								p 2. 本次活動主題為「重構Re:__ 」，請你想像我們能如何給予被淘汰的物品一項新的功能，讓他能夠有新的使命，重新賦予物件內在的平衡與外裝的非凡意義？並描述一例。
								p 具體描述內容包括：
								p a. 過去的那項物品為何。
								p b. 你賦予它的新功能為何。
								p c. 可以達到什麼新的互動。


					.step-container#step5
						.step-header
							.step-title
								span.no 05.
								span 錄取名單公佈
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p IDCard為線上報名之第二份需預先準備之作業檔案，並於線上報名時上傳。
								p 第一頁請放個人簡歷，表達格式不限。
								p 第二頁請放上個人最滿意的作品(研究、專題、設計皆可)，可透過文字、圖片或另附影片表達。
								p 第三頁請從你的經驗中去發想並回答以下兩問題，可透過文字、圖片或另附影片表達，數量、格式均不限。
								.br
								p 1. 請從自己與互動物（包括電腦、智慧裝置、圖形化介面、互動設計、互動藝術）認知或相處的經驗中，舉一自己最喜歡或印象深刻的例子，並說明原因。
								.br
								p 2. 本次活動主題為「重構Re:__ 」，請你想像我們能如何給予被淘汰的物品一項新的功能，讓他能夠有新的使命，重新賦予物件內在的平衡與外裝的非凡意義？並描述一例。
								p 具體描述內容包括：
								p a. 過去的那項物品為何。
								p b. 你賦予它的新功能為何。
								p c. 可以達到什麼新的互動。
					.step-container#step6
						.step-header
							.step-title
								span.no 06.
								span 繳交保證金
							svg.arrow(x='0px', y='0px', viewbox='0 0 36.7 71.9')
								polyline.st0(points='0.4,0.4 36,36 0.4,71.6 ')
						.step-content-wrapper
							.step-content
								p IDCard為線上報名之第二份需預先準備之作業檔案，並於線上報名時上傳。
								p 第一頁請放個人簡歷，表達格式不限。
								p 第二頁請放上個人最滿意的作品(研究、專題、設計皆可)，可透過文字、圖片或另附影片表達。
								p 第三頁請從你的經驗中去發想並回答以下兩問題，可透過文字、圖片或另附影片表達，數量、格式均不限。
								.br
								p 1. 請從自己與互動物（包括電腦、智慧裝置、圖形化介面、互動設計、互動藝術）認知或相處的經驗中，舉一自己最喜歡或印象深刻的例子，並說明原因。
								.br
								p 2. 本次活動主題為「重構Re:__ 」，請你想像我們能如何給予被淘汰的物品一項新的功能，讓他能夠有新的使命，重新賦予物件內在的平衡與外裝的非凡意義？並描述一例。
								p 具體描述內容包括：
								p a. 過去的那項物品為何。
								p b. 你賦予它的新功能為何。
								p c. 可以達到什麼新的互動。
								
		section#taichi
			.section-wrapper
				.section-title TAICHI合作
		section#crew
			.section-wrapper
				.section-title 籌備團隊
		section#organizer
			.section-wrapper
				.section-title 主辦單位
		section#contact
			.section-wrapper
				.section-title 聯絡我們



script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
//- script(src="https://hammerjs.github.io/dist/hammer.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js")
script(src="assets/scripts/main.js")
script(src="assets/scripts/landing.js")
	
//- script(src="assets/scripts/screen.js")