<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title OpenHCI 2018 | 實物鏈
	link(rel="stylesheet", href="assets/styles/main.css")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(name="title" content="")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(property="og:title" content="")
	meta(property="og:type" content="website")
	meta(property="og:url" content="")
	meta(property="og:image" content="")
	meta(property="og:description" content="")
	meta(property="og:site_name" content="")
body
	header
		a.logo(href="#landing")
			img(src="assets/images/title.png", alt="")
		//- .menu-cir .menu-fade-in .menu-slidein
		.menu.menu-cir
			.menu-bg
			.menu-container
				.in-site
					a.menu-btn#menu1(href="#intro") 介紹
					a.menu-btn#menu2(href="#program") 活動
					a.menu-btn#menu3(href="#registration") 報名方式
					a.menu-btn#menu4(href="#taichi") TAICHI合作
					a.menu-btn#menu5(href="#crew") 籌備團隊
					a.menu-btn#menu6(href="#organizer") 主辦單位
					a.menu-btn#menu7(href="#contact") 聯絡我們
		.m-menu-opener
			span
			span
			span
	.loading

	.page-wrapper
		section#landing
			.section-wrapper
				canvas#screen
				img.landing-title(src="assets/images/title.png", alt="")
		section#intro
			.section-wrapper
				.section-left
					.section-left-wrapper
						.section-left-block
							.title What is HCI
							.content Human-Computer Interaction （HCI）為近年來相當活躍的跨領域學門。相較於其他專門領域，HCI學門獨特的複合特性，使得其創造過程需要高度的跨領域合作。研究的著眼點不但訴求技術、更試圖從以人為本的角度去探討，以創造更佳的使用者經驗。
						br
						.section-left-block.section-left-block-need-margin-top
							.title History of OpenHCI
							.content OpenHCI 2017是第八屆由學生自治籌備的人機互動工作坊，旨在推廣人機互動學門與跨領域合作。 在六天的營期間，來自不同領域的學員會經歷一系列講座與課後實作演練，深入完整 HCI 設計流程，透過合作溝通以實踐構想，將無盡的創意展現給世界！
						br
						.section-left-block.section-left-block-need-margin-top
							.title Goals
							.content 本活動希望能夠以推廣HCI為主要宗旨，招收工程與設計背景的學生、共同學習並進行跨領域的合作，探索人類生活空間中與周遭環境、物件或工具的互動模式。為期六天的工作坊，期盼參與者能以此概念體察其日常經驗裡的互動缺口或議題，實際動手解決問題或創造出新的意義的能力，進而尋思更和諧的人機互動遠景。

				.section-right
					.section-right-wrapper
						img.intro-pic(src="assets/images/X.jpg", alt="")
		section#interlude
			.section-wrapper
				.section-title 過場標準字
		section#program
			.section-wrapper
				.section-title 活動
		section#registration
			.section-wrapper
				.section-title 報名方式
		section#taichi
			.section-wrapper
				.section-title TAICHI合作
		section#crew
			.section-wrapper
				.section-title 籌備團隊
		section#organizer
			.section-wrapper
				.section-title 主辦單位
		section#contact
			.section-wrapper
				.section-title 聯絡我們



script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
//- script(src="https://hammerjs.github.io/dist/hammer.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js")
script(src="assets/scripts/main.js")
script(src="assets/scripts/screen.js")