<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title OpenHCI 2018 | 實物鏈
	link(rel="stylesheet", href="assets/styles/main.css")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(name="title" content="")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(property="og:title" content="")
	meta(property="og:type" content="website")
	meta(property="og:url" content="")
	meta(property="og:image" content="")
	meta(property="og:description" content="")
	meta(property="og:site_name" content="")
body
	header.atLanding
		a.logo(href="#landing")
			img(src="assets/images/nav-logo.svg", alt="")
		//- .menu-cir .menu-fade-in .menu-slidein
		.menu.menu-slidein
			.menu-bg
			.menu-container
				.in-site
					a.menu-btn#menu0(href="#description") 主題敘述
					a.menu-btn#menu1(href="#intro") 工作坊介紹
					a.menu-btn#menu2(href="#program") 工作坊日程
					a.menu-btn#menu3(href="#registration") 報名方式
					a.menu-btn#menu4(href="#taichi") TAICHI合作
					a.menu-btn#menu5(href="#crew") 籌備團隊
					a.menu-btn#menu6(href="#organizer") 籌辦單位
					//- a.menu-btn#menu7(href="#contact") 聯絡我們
					a.menu-btn#sign-up(href="") 我要報名
		.m-menu-opener
			span
			span
			span
	.loading
		
	.lightbox

	.page-wrapper
		section#landing
			.section-wrapper
				.screen
					//- canvas#light
					//- canvas#mask
					.animate-light
					.mouse-light
					img.mask(src="assets/images/animism.png", alt="")
				.titles
					img.title1(src="assets/images/title1.svg", alt="")
					img.title2(src="assets/images/title2.svg", alt="")
					img.title3(src="assets/images/title3.svg", alt="")
					.title-logo
						img.glitch#logo0.active(src="assets/images/logo-glitch/0.png", alt="")
						img.glitch#logo1(src="assets/images/logo-glitch/1.png", alt="")
						img.glitch#logo2(src="assets/images/logo-glitch/2.png", alt="")
						img.glitch#logo3(src="assets/images/logo-glitch/3.png", alt="")
						img.glitch#logo4(src="assets/images/logo-glitch/4.png", alt="")
						img.logo-date(src="assets/images/logo-glitch/date.png", alt="")

		section#description
			.section-wrapper
				.descript-left 主題敘述
				.descript-right
					img.descript-img(src="assets/images/img-pattern-animism.png", alt="")
					.descript-content
						p 「萬物有靈，互聯互網，原始信仰隱喻著未來社會。」
						p 物件本是空白主體，注入人類智慧，重獲新生。
						p 擁有了數位靈魂，物體與人類共生，通訊網絡緊密了彼此。
						p 「實物鏈」將解構對客體的認知，重構對物我的想像，
						p 共構新一代城市物語。
						br
						p “They will be given souls. They will form a unique connection among individuals like us. This is our future, this is ANIMISM.”
						p Objects were once empty, inorganic, and lifeless. Yet, when artificial intelligence comes into existence, it is time for their rebirth: objects return with a new form. They’ve got digital souls; they are not merely “objects” anymore. They coexist with us, and strongly connect with us. This is a society composed of human beings and “living objects.”
						p “ANIMISM” OpenHCI Workshop 2018 will deconstruct your perspective on objects, reconstruct your imagination of the relationship between humans and objects, and co-construct a new era of city revolution.
					
		section#intro
			.section-wrapper
				.intro-top
					.video-here
				.intro-bottom
					.detail-block
						.container
							.title What is HCI
							.content Human-Computer Interaction （HCI）為近年來相當活躍的跨領域學門。相較於其他專門領域，HCI學門獨特的複合特性，使得其創造過程需要高度的跨領域合作。研究的著眼點不但訴求技術、更試圖從以人為本的角度去探討，以創造更佳的使用者經驗。
					.empty-block
					.detail-block
						.container
							.title History of OpenHCI
							.content OpenHCI 2017是第八屆由學生自治籌備的人機互動工作坊，旨在推廣人機互動學門與跨領域合作。 在六天的營期間，來自不同領域的學員會經歷一系列講座與課後實作演練，深入完整 HCI 設計流程，透過合作溝通以實踐構想，將無盡的創意展現給世界！
					.empty-block
					.detail-block
						.container
							.title Goals
							.content 本活動希望能夠以推廣HCI為主要宗旨，招收工程與設計背景的學生、共同學習並進行跨領域的合作，探索人類生活空間中與周遭環境、物件或工具的互動模式。為期六天的工作坊，期盼參與者能以此概念體察其日常經驗裡的互動缺口或議題，實際動手解決問題或創造出新的意義的能力，進而尋思更和諧的人機互動遠景。

				//- .section-right
				//- 	.section-right-wrapper
				//- 		//- img.intro-pic(src="assets/images/X.jpg", alt="")
		section#interlude
			.section-wrapper
				.moving
					img(src="assets/images/img-pattern-emoji@2x.png", alt="")
					img(src="assets/images/img-pattern-emoji@2x.png", alt="")
					img(src="assets/images/img-pattern-emoji@2x.png", alt="")
		section#program
			.section-wrapper
				.tabs
					.tab.active(data-index=0)
						p 
							span Day 01 | 08.19
						p 
							span 前置工作坊
					.tab(data-index=1)
						p 
							span Day 02 | 08.20
						p 
							span 行為與觀察
					.tab(data-index=2)
						p 
							span Day 03 | 08.21
						p 
							span 實作與媒材 I
					.tab(data-index=3)
						p 
							span Day 04 | 08.22
						p 
							span 實作與媒材 II
					.tab(data-index=4)
						p 
							span Day 05 | 08.23
						p 
							span 實作與媒材 III
					.tab(data-index=5)
						p 
							span Day 06 | 08.24
						p 
							span 發表與展覽
				.program-container
					.program-content.active(data-index=0)
						.program-img
							img(src="https://www.onlinetaxaustralia.com.au/wp-content/uploads/2017/07/claiming-tools-on-tax.jpg", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
					.program-content(data-index=1)
						.program-img
							img(src="https://productvision.pl/wp-content/uploads/2017/01/art.jpg", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
					.program-content(data-index=2)
						.program-img
							img(src="https://www.roofingcontractor.com/ext/resources/Issues/2017/March/sustainableroofing_main.jpg?1489678753", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
					.program-content(data-index=3)
						.program-img
							img(src="https://www.growly.io/wp-content/uploads/2016/08/15-must-have-tools-for-small-business.jpg", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
					.program-content(data-index=4)
						.program-img
							img(src="http://setofsail.com/wp-content/uploads/2014/01/SOS-organized-tools.jpg", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
					.program-content(data-index=5)
						.program-img
							img(src="https://www.onlinetaxaustralia.com.au/wp-content/uploads/2017/07/claiming-tools-on-tax.jpg", alt="")
						.program-schedule
							.schedule-title 
								p Day 01  前置工作坊
							.schedule-content
								p 0830 - 0920   學員報到
								p 0920 - 0930   開場
								p 0930 - 1000   破冰遊戲
								p 1000 - 1010   中場休息
								p 1010 - 1200   互動設計之應用教學(Arduino)
								p 1200 - 1330   午餐時間
								p 1330 - 1430   演講 I Tuck Wah Leong
								p 1430 - 1440   中場休息
								p 1440 - 1630   模型設計與實作(Lo-fi prototyping)
								p 1630 - 1640   中場休息
								p 1640 - 1740   團體創意實作
								p 1740 - 1830   實作發表
		section#registration
			.section-wrapper
				.registration-title 工作坊與報名資訊
				.step
					.no 01.
					.step-title 工作坊資訊
					.step-content
						p 【 活動時間 】 
						p 2018 年 8 月 19 日 (日) 至 2017 年 8 月 24 日 (五) ，共 6 天。
						p 每日活動開始時間皆為 09:00，結束時間為 18:00 – 18:30 不等。
						.br
						p 【 活動地點 】 
						p 國立臺灣科技大學
						.br
						p 【 活動費用 】
						p 為推廣HCI學門，本活動僅收保險費，獲得錄取資格之學員，請於指定時間內繳交保證金新台幣1000元以及保險費用100元 ，繳費後方能取得正式資格。
						p 為維持學習的完整性，學員獲選後需全程參與。依出席簽到為準，全程參與者，保證金將於工作坊結束後全額退還。
				.step
					.no 02.
					.step-title 報名資訊與時程
					.step-content
						p 【 報名資格 】 
						p 全國各大專院校升大三以上在學生，含學碩博應屆畢業生及新生。
						.br
						p 【 報名方式 】
						p 一律填寫線上表單報名。本活動以報名資料填寫內容作為錄取參考依據，報名先後順序不列入計分標準。
						.br
						p 【 招生時程 】
						p 線上報名時間：6/11(一) 21:00 至 7/4 23:59'59
						p 正取名單公佈：7/8(日) 10:00 網路公佈與信件通知
						p 遞補備取通知：7/11(三) 個別電話通知
				.step
					.no 03.
					.step-title 
						p 線上報名表單
						p 與ID card說明
					.step-content
						p 報名表單包含「資料填寫」和「IDCard 製作」兩部份：
						p.dot 「資料填寫」包含個人基本資料、相關經歷等內容。
						p.dot 「IDCard 製作」內容包含 「個人簡歷」 、「作品集」與「問題回答」。請依格式製作一份三頁之A4橫式PDF檔，檔案上傳至個人雲端（Google Drive, Dropbox, etc）後，再將雲端連結貼上報名表單送出。
						p.highlight IDCard 內容說明
						p 第一頁｜個人簡歷：請放個人簡歷，表達格式不限。
						p 第二頁｜作品集：請放上個人最滿意的作品（研究、專題、設計皆可），可透過文字、圖片或另附影片表達。
						p 第三頁｜問題回答：請從你的經驗中去發想並回答以下兩問題，可透過文字、圖片或另附影片表達，數量、格式均不限。
						p.q1 請從自己與周遭環境中接觸到的物體中（包括有機物/無機物、有生命/無生命的物體、單一/群組的物體），擇一自己最喜歡或印象深刻的例子，簡述這項物體並描述認知或相處的經驗。
						p.q2 本次活動主題為「實物鏈」，請你想像我們能如何賦予一個日常生活中的用品新的生命力，讓它可以與人們共生共存，讓這個物品有嶄新的意義。請描述一例，具體描述內容包括：
						p.tab ⁃	 那項日常物品為何
						p.tab ⁃	 這新賦予的生命意義為何
						p.tab ⁃	 「它」與人會有什麼樣的互動
						p.highlight IDCard 格式設定
						p 1. IDCard 檔案請自行製作與編排，並輸出PDF檔。
						p 2. IDCard 檔名格式： IDCard_姓名 (範例：IDCard_王曉明)。
						p 3. 若檔案格式或檔名格式不符，造成漏檔，報名者請自行負責。


								
		section#taichi
			.section-wrapper
				.section-left
					.section-left-wrapper
						img.img-top(src="assets/images/taichi_section_pic1.png", alt="")
						img.img-btm(src="assets/images/taichi_section_pic2.png", alt="")
				.section-right
					.section-right-wrapper
						.section-right-wrapper-title OpenHCI 與 TAICHI 合作
						.section-right-wrapper-content 台灣人機互動研討會 TAICHI 為臺灣人機互動學會的年度會議，為國內跨領域人機互動學者與社群，提供一個代表台灣人機互動(Human Computer Interaction)研究最前緣之意見交換以及成果交流的年度盛會。<br><br>TAICHI 2018 (第四屆台灣人機互動研討會)由人機互動學會主辦，並持續各領域、校、院間的合作，由交大、台大、清大、政大、台科大、輔大等大專院校之人機互動相關學者共同籌辦，於8月26日至28日在國立交通大學舉辦。此次大會主題為「Bang」，旨在產學、師生、專業人士們之間產生激盪與火花，讓2018成為台灣人機互動成長重要的一年。
		section#crew
			.section-wrapper
				h3.crew-title 籌備團隊
				.crew-content
					.blur-block
					.slide-block
						.crew-content-block
							.crew-content-block-left 
								.team-name.program PROGRAM
							.crew-content-block-right
								.one-person
									.person-name 曾唯哲
									.person-detail 國立臺灣科技大學
									.person-detail 電資學士班
									.person-detail 大四
								.one-person.need-margin-top
									.person-name 王立揚
									.person-detail 國立交通大學
									.person-detail 多媒體工程研究所
									.person-detail 指導教授 詹力韋老師
								.one-person.need-margin-top
									.person-name 林桂竹
									.person-detail 國立政治大學
									.person-detail 數位內容碩士學位學程
									.person-detail 碩一
						.crew-content-block
							.crew-content-block-left 
								.team-name.human-resource HUMAN RESOURCE
							.crew-content-block-right
								.one-person
									.person-name 劉孟錡
									.person-detail 國立臺灣科技大學
									.person-detail 設計系
									.person-detail 大四
								.one-person.need-margin-top
									.person-name Leon Hsu
									.person-detail 國立臺灣大學
									.person-detail 資訊工程研究所
									.person-detail 指導教授 陳彥仰老師
								.one-person.need-margin-top
									.person-name 盧柏安
									.person-detail 國立臺北科技大學
									.person-detail 創新設計在職碩班
									.person-detail 指導教授 彭瑞玟老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.web-service WEB SERVICE
							.crew-content-block-right
								.one-person
									.person-name 張文瀚
									.person-detail 國立政治大學
									.person-detail 數位內容碩士學位學程
									.person-detail 指導教授 陶亞倫老師
								.one-person.need-margin-top
									.person-name 楊凱均
									.person-detail 國立交通大學
									.person-detail 資訊科學與工程研究所
									.person-detail 指導教授 黃俊穎老師
								.one-person.need-margin-top
									.person-name 劉沂寬
									.person-detail 國立交通大學
									.person-detail 網路工程研究所
									.person-detail 指導教授 陳志成老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.tech TECH
							.crew-content-block-right
								.one-person
									.person-name 古健樺
									.person-detail 國立政治大學
									.person-detail 數位內容碩士學位學程
									.person-detail 指導教授 陳聖智老師
								.one-person.need-margin-top
									.person-name 游俊彥
									.person-detail 國立臺北科技大學
									.person-detail 互動設計系
									.person-detail 大四
								.one-person.need-margin-top
									.person-name 鄭智豪
									.person-detail 國立臺北科技大學
									.person-detail 互動設計系
									.person-detail 大四
							.crew-content-block-right.need-more-margin-left
								.one-person
									.person-name 林恆安
									.person-detail 國立臺灣科技大學
									.person-detail 設計研究所
									.person-detail 指導教授 陳玲玲老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.lecture LECTURE
							.crew-content-block-right
								.one-person
									.person-name 黃姿螢
									.person-detail 國立臺北藝術大學
									.person-detail 新媒體藝術學系研究所
									.person-detail 指導教授 魏德樂老師
								.one-person.need-margin-top
									.person-name 李軒任
									.person-detail 國立清華大學
									.person-detail 工業工程與工程管理學系
									.person-detail 大四
						.crew-content-block
							.crew-content-block-left 
								.team-name.exhibition EXHIBITION / DEMO
							.crew-content-block-right
								.one-person
									.person-name 羅開晉
									.person-detail 國立政治大學
									.person-detail 數位內容碩士學位學程
									.person-detail 指導教授 陶亞倫老師
								.one-person.need-margin-top
									.person-name 陳弘偉
									.person-detail 國立臺灣科技大學
									.person-detail 色彩與照明科學研究所
									.person-detail 指導教授 陳建宇老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.publicity PUBLICITY
							.crew-content-block-right
								.one-person
									.person-name 黃子倫
									.person-detail 國立臺灣大學
									.person-detail 工商管理學系
									.person-detail 大二
								.one-person.need-margin-top
									.person-name 蔡侞曄
									.person-detail 國立臺灣科技大學
									.person-detail 創意設計學士班
									.person-detail 大四
								.one-person.need-margin-top
									.person-name 施懿庭
									.person-detail 國立臺灣科技大學
									.person-detail 設計研究所
									.person-detail 指導教授 陳建雄老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.visual-design VISUAL DESIGN
							.crew-content-block-right
								.one-person
									.person-name 曹仲
									.person-detail 實踐大學
									.person-detail 媒體傳達設計學系
									.person-detail 碩一
								.one-person.need-margin-top
									.person-name 姜瓔育
									.person-detail 國立臺灣科技大學
									.person-detail 設計研究所
									.person-detail 指導教授 唐玄輝老師
								.one-person.need-margin-top
									.person-name 蘇郁庭
									.person-detail 國立政治大學
									.person-detail 數位內容碩士學位學程
									.person-detail 指導教授 陳聖智老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.sponsorship SPONSORSHIP
							.crew-content-block-right
								.one-person
									.person-name 陳靖玟
									.person-detail 國立臺灣大學
									.person-detail 中國文學系
									.person-detail 大四
								.one-person.need-margin-top
									.person-name 吳岳霖
									.person-detail 國立臺灣海洋
									.person-detail 大學資訊工程學系
									.person-detail 大四
						.crew-content-block
							.crew-content-block-left 
								.team-name.treasurer TREASURER
							.crew-content-block-right
								.one-person
									.person-name 王琦
									.person-detail 國立臺北科技大學
									.person-detail 互動媒體設計所
									.person-detail 指導教授 鄭建文老師
								.one-person.need-margin-top
									.person-name 林進源
									.person-detail 國立臺灣大學
									.person-detail 資訊工程研究所
									.person-detail 指導教授 陳彥仰老師
								.one-person.need-margin-top
									.person-name 謝沅璋
									.person-detail 國立臺灣大學
									.person-detail 資訊工程研究所
									.person-detail 指導教授 陳彥仰老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.film-crew FILM CREW
							.crew-content-block-right
								.one-person
									.person-name 王惠萱
									.person-detail 實踐大學
									.person-detail 工業產品設計學系研究所
									.person-detail 碩三
								.one-person.need-margin-top
									.person-name 張益銓
									.person-detail 國立清華大學
									.person-detail 資訊工程學系
									.person-detail 指導教授 陳煥宗老師
						.crew-content-block
							.crew-content-block-left 
								.team-name.TA TA
							.crew-content-block-right
								.one-person
									.person-name 賴柏恩
									.person-detail 國立臺灣科技大學
									.person-detail 資訊工程研究所
									.person-detail 指導教授 陳彥仰老師
								.one-person.need-margin-top
									.person-name 黃于真
									.person-detail 國立臺北科技大學
									.person-detail 互動設計系
									.person-detail 大四
			.crew-button
				.container
					img(src="assets/images/crew-section/icon-left.svg", alt="").button#button-crew-left
					img(src="assets/images/crew-section/icon-right.svg", alt="").button#button-crew-right


		section#organizer
			.section-wrapper
				.og-section-block
					.og-section-title ORGANIZER
					.og-section-logo-wrapper
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s1.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s2.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s3.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s4.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s17.png", alt="")
			
				.og-section-block.need-padding-top
					.og-section-title CO-ORGANIZER
					.og-section-logo-wrapper
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s5.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s6.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s10.png", alt="")
						.logo-block
							img.og-logo(src="assets/images/organizer_logo/s12.png", alt="")
						.logo-block
							img(src="assets/images/organizer_logo/s11.png", alt="", height="60px")
				
				.og-section-block.need-padding-top
					.og-section-title SPONSOR
					.og-section-logo-wrapper
						.logo-small
							img(src="assets/images/organizer_logo/s15.png", alt="", width="50%")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s14.png", alt="")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s8.png", alt="")
						.logo-small
							img(src="assets/images/organizer_logo/s9.svg", alt="", width="60%")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s16.png", alt="")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s13.png", alt="")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s7.png", alt="")
						.logo-small
							img.og-logo(src="assets/images/organizer_logo/s18.png", alt="")
		
		section#contact
			.section-wrapper
				//img.contact-section-map(src="assets/images/fake_map.png", alt="")
				#map.contact-section-map
				.contact-section-info
					.contact-section-block
						.contact-section-title LOCATION
						br
						.contact-section-content 
							p 臺灣科技大學 | 臺北市基隆路四段四十三號
					.contact-section-block-mid
						.contact-section-title LOCATION
						br
						.contact-section-content 
							p 臺灣科技大學
							p 臺北市基隆路四段四十三號
					
	
	footer#footer
		.footer-wrapper
			p.copyright.need-margin-right ＠COPYRIGHT 2018 OpenHCI'18
			br
			.url-group
				.part1
					a(href="#footer").div-url 2017
					a(href="#footer").div-url 2016
					a(href="#footer").div-url 2015
					a(href="#footer").div-url 2014
				.part2
					a(href="#footer").div-url 2013
					a(href="#footer").div-url 2012
					a(href="#footer").div-url 2011
					a(href="#footer").div-url 2009
			br
			.button-group
				a.need-margin-right#issuu(href="#footer")
					img#img-issuu(src="assets/images/footer/icon-issuu-white.svg", alt="",onmouseover="this.src='assets/images/footer/icon-issuu-red.svg'",onmouseout="this.src='assets/images/footer/icon-issuu-white.svg'")
				a.need-margin-right#youtube(href="#footer")
					img#img-youtube(src="assets/images/footer/icon-youtube-white.svg", alt="",onmouseover="this.src='assets/images/footer/icon-youtube-red.svg'",onmouseout="this.src='assets/images/footer/icon-youtube-white.svg'")
				a#facebook(href="#footer")
					img#img-facebook(src="assets/images/footer/icon-facebook-white.svg", alt="",onmouseover="this.src='assets/images/footer/icon-facebook-red.svg'",onmouseout="this.src='assets/images/footer/icon-facebook-white.svg'")
						
						



script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
//- script(src="https://hammerjs.github.io/dist/hammer.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js")
script(src="assets/scripts/main.js")
script(src="assets/scripts/landing.js")
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDcF4jmxdoDeeDWS_1TdOmkFZ8Hs4kzQxs&callback=initMap', async='', defer='')
	
//- script(src="assets/scripts/screen.js")