<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title OpenHCI 2018 | 實物鏈
	link(rel="stylesheet", href="assets/styles/main.css")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(name="title" content="")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(property="og:title" content="")
	meta(property="og:type" content="website")
	meta(property="og:url" content="")
	meta(property="og:image" content="")
	meta(property="og:description" content="")
	meta(property="og:site_name" content="")
body
	header
		a.logo(href="#landing")
			img(src="assets/images/title.png", alt="")
		//- .menu-cir .menu-fade-in .menu-slidein
		.menu.menu-cir
			.menu-bg
			.menu-container
				.in-site
					a.menu-btn#menu1(href="#intro") 介紹
					a.menu-btn#menu2(href="#program") 活動
					a.menu-btn#menu3(href="#registration") 報名方式
					a.menu-btn#menu4(href="#taichi") TAICHI合作
					a.menu-btn#menu5(href="#crew") 籌備團隊
					a.menu-btn#menu6(href="#organizer") 主辦單位
					a.menu-btn#menu7(href="#contact") 聯絡我們
		.m-menu-opener
			span
			span
			span
	.loading

	.page-wrapper
		section#landing
			.section-wrapper
				canvas#screen
				img.landing-title(src="assets/images/title.png", alt="")
		section#intro
			.section-wrapper
				.section-title 介紹
		section#interlude
			.section-wrapper
				.section-title 過場標準字
		section#program
			.section-wrapper
				.section-title 活動
		section#registration
			.section-wrapper
				.section-title 報名方式
		section#taichi
			.section-wrapper
				.section-left
					.section-left-wrapper
						img.img-top(src="assets/images/taichi_section_pic1.png", alt="")
						img.img-btm(src="assets/images/taichi_section_pic2.png", alt="")
				.section-right
					.section-right-wrapper
						.section-right-wrapper-title OpenHCI 與 TAICHI 合作
						.section-right-wrapper-content 台灣人機互動研討會 TAICHI 為臺灣人機互動學會的年度會議，為國內跨領域人機互動學者與社群，提供一個代表台灣人機互動(Human Computer Interaction)研究最前緣之意見交換以及成果交流的年度盛會。<br><br>TAICHI 2018 (第四屆台灣人機互動研討會)由人機互動學會主辦，並持續各領域、校、院間的合作，由交大、台大、清大、政大、台科大、輔大等大專院校之人機互動相關學者共同籌辦，於8月26日至28日在國立交通大學舉辦。此次大會主題為「Bang」，旨在產學、師生、專業人士們之間產生激盪與火花，讓2018成為台灣人機互動成長重要的一年。
		section#crew
			.section-wrapper
				.section-title 籌備團隊
		section#organizer
			.section-wrapper
				.section-title 主辦單位
		section#contact
			.section-wrapper
				.section-title 聯絡我們



script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
//- script(src="https://hammerjs.github.io/dist/hammer.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.4/pixi.min.js")
script(src="assets/scripts/main.js")
script(src="assets/scripts/screen.js")